<form method="POST" action="/new">
    <h1>Form</h1>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author">
    <label for="messages">Messages:</label>
    <input type="text" id="messages" name="messages">
    <button>Submit</button>
</form>